<div id="socials_menu">
    <%- include("./socials/menu.ejs", {
        accounts: [
            {
                site: {
                    title: "Facebook",
                    icon: "",
                    baseUrl: "https://fb.com/"
                },
                user: {
                    handle: "jimbojet"
                }
            },
            {
                site: {
                    title: "Instagram",
                    icon: "",
                    baseUrl: "https://instagram.com/"
                },
                user: {
                    handle: "_jimbojet"
                }
            },
            {
                site: {
                    title: "LinkedIn",
                    icon: "",
                    baseUrl: "https://linkedin.com/in/"
                },
                user: {
                    handle: "zhening-jimmy-luo"
                }
            },
            {
                site: {
                    title: "GitHub",
                    icon: "",
                    baseUrl: "https://github.com/"
                },
                user: {
                    handle: "jimmy-zhening-luo"
                }
            },
            {
                site: {
                    title: "Spotify",
                    icon: "",
                    baseUrl: "https://open.spotify.com/user/"
                },
                user: {
                    handle: "1215989421"
                }
            }
        ]
    }) %>
</div>
