.socials {
  display: flex;
  justify-content: space-between;
}

.socials menu {
  list-style: none;
}

.socials menu {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
}

.socials menu {
  gap: 2.4rem;
  margin: 0;
  padding: 0;
}

.socials menu li {
  flex: 0 0 auto;
  height: 2.4rem;
  width: 2.4rem;
}

.socials menu li img {
  object-fit: cover;
}

.socials menu li img {
  aspect-ratio: 1/1;
  height: 100%;
}
