.socials {
  display: flex;
  justify-content: space-between;
}

menu {
  list-style: none;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  position: relative;
  gap: 2.4rem;
  margin: 0;
  padding: 0;
}

menu li {
  flex: 0 0 auto;
  block-size: 2.4rem;
  inline-size: 2.4rem;
}

menu li img {
  aspect-ratio: 1/1;
  object-fit: cover;
  block-size: 100%;
}
