.app {
  display: flex;
  flex-direction: column;
}

.app {
  min-height: 100vh;
}

main {
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  margin: 0 auto;
  max-width: 64rem;
  padding: 1rem;
  width: 100%;
}
