h1 {
  width: 100%;
}

section {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

section {
  flex: 0.2;
}

.welcome {
  display: block;
  position: relative;
}

.welcome {
  height: 0;
  padding: 0 0 calc(100% * 495 / 935) 0;
  width: 100%;
}

.welcome img {
  display: block;
  position: absolute;
}

.welcome img {
  height: 100%;
  top: 0;
  width: 100%;
}
