h1 {
  inline-size: 100%;
}

section {
  align-items: center;
  display: flex;
  flex: 0.2;
  flex-direction: column;
  justify-content: center;
}

.welcome {
  display: block;
  position: relative;
  block-size: 0;
  inline-size: 100%;
  padding-block: 0 calc(100% * 0.6);
  padding-inline: 0;
}

.welcome img {
  display: block;
  position: absolute;
  block-size: 100%;
  inline-size: 100%;
  inset-block-start: 0;
}
