.front-content {
  width: 100%;
}

.front-content h1 {
  width: 100%;
}

.front-content .welcome {
  display: block;
  position: relative;
}

.front-content .welcome {
  height: 0;
  padding: 0 0 calc(100% * 495 / 935) 0;
  width: 100%;
}

.front-content .welcome img {
  display: block;
  position: absolute;
}

.front-content .welcome img {
  height: 100%;
  top: 0;
  width: 100%;
}
