.corner {
  block-size: 6em;
  inline-size: 6em;
}

header {
  font-family: var(--font-header);
  display: flex;
  justify-content: space-between;
}

nav {
  --nav-background: rgba(255, 255, 255, 0.7);
  display: flex;
  justify-content: center;
}

nav svg {
  display: block;
  block-size: 3em;
  inline-size: 2em;
}

nav svg path {
  fill: var(--nav-background);
}

nav ul {
  list-style: none;
  background: var(--nav-background);
  background-size: contain;
  align-items: center;
  display: flex;
  justify-content: center;
  position: relative;
  block-size: 3em;
  margin: 0;
  padding: 0;
}

nav ul li {
  position: relative;
  block-size: 100%;
}

nav ul li[aria-current="page"]::before {
  --nav-tab-size: 6px;
  content: "";
  border: var(--nav-tab-size) solid transparent;
  border-block-start: var(--nav-tab-size) solid var(--color-theme-1);
  position: absolute;
  block-size: 0;
  inline-size: 0;
  inset-block-start: 0;
  inset-inline-start: calc(50% - var(--nav-tab-size));
}

nav ul li a {
  color: var(--color-text);
  transition: color 0.2s linear;
  font-weight: 700;
  font-size: 0.8rem;
  letter-spacing: 0.1em;
  text-decoration: none;
  text-transform: uppercase;
  align-items: center;
  display: flex;
  block-size: 100%;
  padding-block: 0;
  padding-inline: 0.5rem;
}


nav ul li a:hover {
  color: var(--color-theme-1);
}
