<!DOCTYPE html>
<html>
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/body.ejs", {
        content: {
            title: "DEBUG: OK Cool you are Now Debugging",
            template: "search-homepage",
            fill: {
                button: {
                    target: "/",
                    text: "Back to Jimmy"
                }
            }
        }
    }) %>
</body>
</html>
