<!DOCTYPE html>
<html>
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/body.ejs", {
        container_title: "Debug: OK Cool you are Now Debugging",
        button: {
            target: "/",
            text: "Back to Jimmy"
        }
    }) %>
</body>
</html>
