<!DOCTYPE html>
<html>
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <div class="container">
        <h1 class="header">Debug: OK Cool you are Now Debugging</h1>
        <a class="btn" href="/"><i class="material-icons right">arrow_forward</i>Back to Jimmy</a>
    </div>
</body>
</html>
