<!DOCTYPE html>
<html>
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <div class="container">
        <h1 class="header">Jimmy Luo</h1>
        <a class="btn" href="/debug"><i class="material-icons right">arrow_forward</i>Debug</a>
    </div>
</body>
</html>
