<!DOCTYPE html>
<html>
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/body.ejs", {
        container_title: "Jimmy",
        button: {
            target: "/debug",
            text: "Debug"
        }
    }) %>
</body>
</html>
