<!DOCTYPE html>
<html>
<head>
    <%- include("./partials/head.ejs") %>
</head>
<body>
    <%- include("./partials/body.ejs", {
        content: {
            title: "Jimmy Luo",
            template: "search-homepage",
            fill: {
                button: {
                    target: "/debug",
                    text: "Debug"
                }
            }
        }
    }) %>
</body>
</html>
