<div class="container">
    <div id="header">
        <%- include("./body/header.ejs") %>
    </div>

    <div id="content">
        <% if (typeof content == "undefined") { %>
            Sorry, the page you are looking for either does not exist or is somehow b0rken.
        <% } else { %>
            <%- include("./body/content.ejs", content) %>
        <% } %>
    </div>

    <div id="footer">
        <%- include("./body/footer.ejs") %>
    </div>
</div>
