<div class="container">
    <h1 class="header">
        <%= container_title %>
    </h1>
    <a class="btn" href=<%- button.target %>><i class="material-icons right">arrow_forward</i>
        <%= button.text %>
    </a>
</div>
